@import url('https://fonts.googleapis.com/css?family=Poppins:700|Righteous');

#title {
    font-family: 'Righteous', cursive;
    font-size: 70px;
}
#poppins {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}