@import url('https://fonts.googleapis.com/css?family=Poppins:700|Righteous');
@import url('https://fonts.googleapis.com/css?family=Sarabun');

#title {
    font-family: 'Righteous', cursive;
    font-size: 48px;
}
#poppins {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
#accordion {
    border-radius: 6px;
}
body {
    background-color:#f7f7f7;
} 
#sarabun {
    font-family: 'Sarabun', sans-serif;
}

a { color: inherit; }

#title-input {
    font-family: 'Sarabun', sans-serif;
    border-radius: 100px;
}
#des-input {
    font-family: 'Sarabun', sans-serif;
    border-radius: 20px;
}

#projectsInput {
    font-family: 'Sarabun', sans-serif;
    border-radius: 160px;
}
#labelsInput {
    font-family: 'Sarabun', sans-serif;
    border-radius: 160px;
}