<br>
<br>
<br>
{{#ui-search source=commonPasswords onSearchQuery=(action (mut query)) onSelect=(action (mut selected))}}
  <input type="text" placeholder="Common passwords..." class="prompt">
  <div class="results"></div>
{{/ui-search}}

<br>
<br>
<br>
<br>
<br>
<br>


{{outlet}}  